{% extends 'base.html.twig' %}

{% block title %}{{ 'Register'|trans({}, 'messages') }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="card col-6 form-card">
            <div class="card-body">
                <h3 class="card-title">{{ 'Register'|trans({}, 'messages') }}</h3>
                {{ include('form/registration-form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/registration-form.js') }}"></script>
{% endblock %}